@model Inmobiliaria_2022.Models.Propietario

@{
    ViewData["Title"] = "Editar Propietario";
}

<div class="card bg-light border border-primary">
        <div class="card-header border-bottom border-primary bg-light">
            <h4 class="card-title text-primary mt-2">Editar Propietario</h4>
        </div>
        <form asp-action="Edit">
        <div class="card-body">
        
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <input asp-for="Clave" class="form-control" hidden/>
                
            </div>
           
        
    </div>
    <div class="card-header border-top border-primary bg-light">
        <div class="form-group">
            <input type="submit" value="Editar" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Volver al Listado</a>
        </div>
    </div>
    </form>
</div>
@*<h4>Cambiar contraseña</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CambiarPass" asp-route-id="@Model.Id" name="CambiarPass">
            <input type="hidden" name="Id" value="@Model.Id" />
            <div class="form-group">
                <label class="control-label">Clave Antigüa</label>
                <input type="password" name="ClaveVieja" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Nueva Clave</label>
                <input type="password" name="ClaveNueva" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Repetir Clave Nueva</label>
                <input type="password" name="ClaveRepeticion" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Cambiar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

