@model Inmobiliaria_2022.Models.CambioClaveView

@{ViewData["Title"] = "CambiarClave";}

<h1>Cambiar Clave</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CambiarClave">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClaveVieja" class="control-label"></label>
                <input asp-for="ClaveVieja" class="form-control" />
                <span asp-validation-for="ClaveVieja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveNueva" class="control-label"></label>
                <input asp-for="ClaveNueva" class="form-control" />
                <span asp-validation-for="ClaveNueva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClaveRepeticion" class="control-label"></label>
                <input asp-for="ClaveRepeticion" class="form-control" />
                <span asp-validation-for="ClaveRepeticion" class="text-danger"></span>
            </div>
            <div class="form-group"><input type="submit" value="Crear" class="btn btn-primary" /></div>
        </form>
    </div>
</div>

<div><a asp-action="Index">Volver al listado</a></div>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}
