@{
    ViewData["Title"] = "Pagina de inicio";
}

<div class="text-center" >
    @*<h1 class="display-4">*@</p>Bienvenido a tu inmobiliaria preferida por su excelencia<p>@*</h1>*@
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
