@model Inmobiliaria_2022.Models.Inmueble

@{
    ViewData["Title"] = "Crear";
}

<div class="card bg-light border border-primary">
        <div class="card-header border-bottom border-primary bg-light">
            <h4 class="card-title text-primary">Crear Inmueble</h4>
        </div>
        <div class="card-body">

            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="Id" class="form-control" type="hidden" value="0"/>
            </div>

            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ambientes" class="control-label"></label>
                <input asp-for="Ambientes" class="form-control" />
                <span asp-validation-for="Ambientes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label  class="control-label">Tipo</label>
                <select class="form-control" name="Tipo">

                 @foreach (var tip in (IDictionary<int, string>)ViewBag.TipoNombre)
                 {
                     @:<option value="@tip.Key ">@tip.Value</option>
                 }
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
           @* <div class="form-group">
                <label asp-for="TipoNombre" class="control-label"></label>
                <input asp-for="TipoNombre" class="form-control" />
                <span asp-validation-for="TipoNombre" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Superficie" class="control-label"></label>
                <input asp-for="Superficie" class="form-control" />
                <span asp-validation-for="Superficie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Latitud" class="control-label"></label>
                <input asp-for="Latitud" class="form-control" />
                <span asp-validation-for="Latitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Longitud" class="control-label"></label>
                <input asp-for="Longitud" class="form-control" />
                <span asp-validation-for="Longitud" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Propietario</label>
                <select class="form-control" name="PropietarioId">
                    @foreach (var item in (IList<Propietario>)ViewBag.Propietarios)
                    {
                        <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="PropietarioId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a class="btn btn-secondary" asp-action="Index">Volver al Listado</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
